<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">


        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">Send me an e-mail!</li>
                    <li><a class="u-email" href="mailto:herzamos@gmail.com">herzamos@gmail.com</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li><a href="https://github.com/herzamos"><svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                            </svg> <span class="username">herzamos</span></a></li>
                    <li><a href="https://www.instagram.com/amos.herz/"><svg class="svg-icon">
                        <use xlink:href="/assets/minima-social-icons.svg#instagram"></use>
                    </svg> <span class="username">amos.herz</span></a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>I&#39;m Amos, a Computer Science student at ETH Zürich, currently attending his second semester.
                    Here, on my blog, you&#39;ll find posts about the things I try out out of boredom, enjoy the
                    reading!</p>
            </div>
        </div>
        <webring-banner theme="/assets/polyring-theme.json" style="display: flex; justify-content: center;">
            <p>Member of the <a href="https://xyquadrat.ch/polyring">Polyring</a> webring</p>
        </webring-banner>
        <script async src="https://xyquadrat.ch/polyring/embed.js" charset="utf-8"></script> 

    </div>

</footer>
