.site-title::after {
    content: "";
    -webkit-animation: cursor 0.8s infinite;
    animation: cursor 0.8s infinite;
    background: $brand-color;
    border-radius: 0;
    display: inline-block;
    height: 1em;
    margin-left: 0.3em;
    width: 4px;
    bottom: -2px;
    position: relative;
  }

  .site-title::before {
      content: "> ";
  }

  @-webkit-keyframes cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .site-title,
  .site-title:visited,
  .site-title:hover {
    color: $text-color;
    text-decoration: none;
  }

  .site-title-content:hover {
    background-color: $brand-color;
    color: $background-color;
    text-decoration: none;
}

.site-title-content {
    display: inline;
    margin-right: 0.2em;
}

  .site-header {
    border: none;
    min-height: 55.95px;
    position: relative;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .site-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
  }